@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme("colors.accent.500");
    border-radius: 12px;
  }
}

/* For date picker */
.rdp-root {
  --rdp-day-width: 32px !important;
  --rdp-day-height: 32px !important;
  --rdp-day_button-width: 32px !important;
  --rdp-day_button-height: 32px !important;
  --rdp-day_button-border-radius: 50% !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
}
.rdp-day_disabled:hover {
  background-color: transparent !important;
  cursor: not-allowed !important;
  color: inherit !important;
  box-shadow: none !important;
}

.rdp-day_button:hover {
  background-color: theme("colors.accent.500") !important;
  color: theme("colors.accent.50") !important;
}

.rdp-selected {
  background-color: theme("colors.accent.500") !important;
  border-radius: 50% !important;
  color: theme("colors.accent.50") !important;
}

.rdp-dropdown {
  color: theme("colors.accent.50") !important;
  background-color: theme("colors.primary.950") !important;
  border: 3px theme("colors.accent.500") solid !important;
}

.rdp-range_middle {
  background-color: blue;
}
